# To run these code upload your data at run time First

In [ ]:
import os                           #os module is a part of the standard library or stdlib-->it comes with your Python installation
import pandas as pd                 # tells Python to bring the pandas data analysis library into your current environment--> used for importing,managing,manipulating,analyzing datasets
import numpy as np                  #to perform a wide variety of mathematical operations on numpy arrays
import matplotlib.pyplot as plt     # a collection of command style functions that make matplotlib work like MATLAB
import seaborn as sns               #open-source Python library built on top of matplotlib-->used for data visualization and exploratory data analysis

                                    #sklearn-Scikit-Learn is a free Machine Learning library -->useful tool for data mining and data analysis

from sklearn.model_selection import train_test_split    #Split arrays or matrices into random train and test subsets-->we have to mention test_size and random state for data productivity
from sklearn.preprocessing import StandardScaler        #helps in feature scaling-->to standardize the range of functionality of the input dataset
from sklearn.impute import SimpleImputer                #SimpleImputer class provides basic strategies for imputing missing values using mean,median and mode
from sklearn.model_selection import GridSearchCV        # used Hyper Parameter Tuning--> finding the optimal parameter values from a given set of parameters in a grid
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score   #to evaluate machine learning algorithms --> the performance of algorithm is evaluated by using accuracy,precision,recall
from sklearn.preprocessing import OneHotEncoder         # used for performing dummification on categorical colums in the dataframe

from sklearn.linear_model import LinearRegression,LogisticRegression         #helps to use Linear Regression , Logistic Regression
from sklearn.svm import SVC,SVR                                              #hellps to import support vector machine functions like Support Vector Classifier , Support Vector Regressor
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor        #helps to use  Decision tree functions like DecisionTreeClassifier , DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor    #helps to use  Decision tree functions like RandomForestClassifier , RandomForestTreeRegressor
from sklearn.model_selection import GridSearchCV                             #GridSearch CV--> cross validation is used to tune hyper parameters which are present in a given list of values
from imblearn.over_sampling import SMOTE

In [ ]:
#Importing the datasets
df_train = pd.read_csv('/content/Train.csv')
df_test = pd.read_csv('/content/Test.csv')

In [ ]:
df_train.info()
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Weight                4705 non-null   float64
 2   Item_Fat_Content           5681 non-null   object
 3   Item_Visibility            5681 non-null   float64
 4   Item_Type                  5681 non-null   object
 5   Item_MRP                   5681 non-null   float64
 6   Outlet_Identifier          5681 non-null   object
 7   Outlet_Establishment_Year  5681 non-null   int64
 8   Outlet_Size                4075 non-null   object
 9   Outlet_Location_Type       5681 non-null   object
 10  Outlet_Type                5681 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [ ]:
df_train=df_train.drop(["Item_Identifier",'Outlet_Identifier', 'Outlet_Establishment_Year'],axis=1)
df_test=df_test.drop(["Item_Identifier",'Outlet_Identifier', 'Outlet_Establishment_Year'],axis=1)

In [ ]:
print(df_train.isnull().sum())
print("---"*30)
print(df_test.isnull().sum())

Item_Weight             1463
Item_Fat_Content           0
Item_Visibility            0
Item_Type                  0
Item_MRP                   0
Outlet_Size             2410
Outlet_Location_Type       0
Outlet_Type                0
Item_Outlet_Sales          0
dtype: int64
------------------------------------------------------------------------------------------
Item_Weight              976
Item_Fat_Content           0
Item_Visibility            0
Item_Type                  0
Item_MRP                   0
Outlet_Size             1606
Outlet_Location_Type       0
Outlet_Type                0
dtype: int64

In [ ]:
df_train["Outlet_Type"].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [ ]:
def Convert_dtype(DataFrame,columns=None):                                 #converting object datatype in to category datatype
  print("The datatypes before converting :\n",DataFrame.dtypes,'\n')
  print("**"*50)
  DataFrame[columns]=DataFrame[columns].astype('category')                 #"astype()"--> used to convert the datatype
  print("The datatypes after converting :\n",DataFrame.dtypes,'\n')
  return DataFrame

In [ ]:
col=["Item_Fat_Content","Item_Type","Outlet_Size","Outlet_Location_Type","Outlet_Type"]
df_train=Convert_dtype(df_train,col)

The datatypes before converting :
 Item_Weight             float64
Item_Fat_Content         object
Item_Visibility         float64
Item_Type                object
Item_MRP                float64
Outlet_Size              object
Outlet_Location_Type     object
Outlet_Type              object
Item_Outlet_Sales       float64
dtype: object

****************************************************************************************************
The datatypes after converting :
 Item_Weight              float64
Item_Fat_Content        category
Item_Visibility          float64
Item_Type               category
Item_MRP                 float64
Outlet_Size             category
Outlet_Location_Type    category
Outlet_Type             category
Item_Outlet_Sales        float64
dtype: object

In [ ]:
def Sep_x_y_df(DataFrame,Target):                     # in this function we are seperating Indepenndent and dependent variables into two dataframes
  Y=DataFrame[Target]                                 # taking target variable in to  'Y' Dataframe
  X=DataFrame.drop(columns=Target,axis=1)             # taking all the independent variables into 'X' dataframe excluding target column
  print("The Independent Varaible DataFrame is :\n",X,'\n')
  print("**"*50)
  print("The Dependent Varaible DataFrame is :\n",Y,'\n')
  return X,Y

In [ ]:
X,Y=Sep_x_y_df(df_train,'Item_Outlet_Sales')

The Independent Varaible DataFrame is :
       Item_Weight Item_Fat_Content  Item_Visibility              Item_Type  \
0           9.300          Low Fat         0.016047                  Dairy
1           5.920          Regular         0.019278            Soft Drinks
2          17.500          Low Fat         0.016760                   Meat
3          19.200          Regular         0.000000  Fruits and Vegetables
4           8.930          Low Fat         0.000000              Household
...           ...              ...              ...                    ...
8518        6.865          Low Fat         0.056783            Snack Foods
8519        8.380          Regular         0.046982           Baking Goods
8520       10.600          Low Fat         0.035186     Health and Hygiene
8521        7.210          Regular         0.145221            Snack Foods
8522       14.800          Low Fat         0.044878            Soft Drinks

      Item_MRP Outlet_Size Outlet_Location_Type        Outlet_Type
0     249.8092      Medium               Tier 1  Supermarket Type1
1      48.2692      Medium               Tier 3  Supermarket Type2
2     141.6180      Medium               Tier 1  Supermarket Type1
3     182.0950         NaN               Tier 3      Grocery Store
4      53.8614        High               Tier 3  Supermarket Type1
...        ...         ...                  ...                ...
8518  214.5218        High               Tier 3  Supermarket Type1
8519  108.1570         NaN               Tier 2  Supermarket Type1
8520   85.1224       Small               Tier 2  Supermarket Type1
8521  103.1332      Medium               Tier 3  Supermarket Type2
8522   75.4670       Small               Tier 1  Supermarket Type1

[8523 rows x 8 columns]

****************************************************************************************************
The Dependent Varaible DataFrame is :
 0       3735.1380
1        443.4228
2       2097.2700
3        732.3800
4        994.7052
          ...
8518    2778.3834
8519     549.2850
8520    1193.1136
8521    1845.5976
8522     765.6700
Name: Item_Outlet_Sales, Length: 8523, dtype: float64

In [ ]:
def split_train_test(X,Y):                                                                           # splitting given training data into train and test randomly
  X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,stratify=Y,random_state=123)      #train_test_split is the function used for splitting DataFrame into train and test in 70:30 ratio
  print("The shape of X_train is :",X_train.shape,'\n')                                              # stratify=y means we are equalizing/balancing the values in Traget columns
  print("The shape of Y_train is :",Y_train.shape,'\n')
  print("The shape of X_test is :",X_test.shape,'\n')
  print("The shape of Y_test is :",Y_test.shape,'\n')
  return X_train,X_test,Y_train,Y_test

In [ ]:
  X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=123)      #train_test_split is the function used for splitting DataFrame into train and test in 70:30 ratio

In [ ]:
def num_cat_df(DataFrame):                                           # we are dividng X_train and X_test Data into Categorical and Numerical dataframes
  num_df = DataFrame.select_dtypes(include=['int','float'])          # here wee are selecting the columns which are in int and float datatyoe then wee store in DataFrame
  cat_df = DataFrame.select_dtypes(include=['category'])             # herre we are storing the columns which are categorical  then store in DataFrame
  print("The Numerical Variables DataFrame is :\n",num_df,'\n')
  print("**"*50)
  print("The Categorical Variables DataFrame is :\n",cat_df,'\n')
  return num_df, cat_df

In [ ]:
X_train_num,X_train_cat=num_cat_df(X_train)

The Numerical Variables DataFrame is :
       Item_Weight  Item_Visibility  Item_MRP
1544        5.465         0.048487  131.2626
7932          NaN         0.028383  109.4596
4654        7.315         0.015302  154.4340
4770       16.350         0.058034  124.8020
6283       12.150         0.042552  123.5046
...           ...              ...       ...
7382       18.600         0.077169  160.6236
7763          NaN         0.068153   36.0190
5218        5.920         0.019184   50.3692
1346       15.600         0.000000  111.8544
3582       13.300         0.071744   59.7536

[5966 rows x 3 columns]

****************************************************************************************************
The Categorical Variables DataFrame is :
      Item_Fat_Content              Item_Type Outlet_Size Outlet_Location_Type  \
1544          Regular           Baking Goods        High               Tier 3
7932          Low Fat     Health and Hygiene       Small               Tier 1
4654          Low Fat            Snack Foods       Small               Tier 1
4770          Low Fat              Household         NaN               Tier 3
6283          Regular                 Canned         NaN               Tier 2
...               ...                    ...         ...                  ...
7382          Low Fat            Snack Foods      Medium               Tier 3
7763          Low Fat            Soft Drinks       Small               Tier 1
5218          Regular            Soft Drinks        High               Tier 3
1346          Low Fat           Baking Goods      Medium               Tier 3
3582              reg  Fruits and Vegetables      Medium               Tier 3

            Outlet_Type
1544  Supermarket Type1
7932      Grocery Store
4654  Supermarket Type1
4770      Grocery Store
6283  Supermarket Type1
...                 ...
7382  Supermarket Type2
7763      Grocery Store
5218  Supermarket Type1
1346  Supermarket Type2
3582  Supermarket Type2

[5966 rows x 5 columns]

In [ ]:
X_test_num,X_test_cat=num_cat_df(X_test)

The Numerical Variables DataFrame is :
       Item_Weight  Item_Visibility  Item_MRP
4532        15.85         0.007145   41.0480
186           NaN         0.094154  165.7526
7557        17.85         0.037886  190.4188
6308          NaN         0.000000  230.0668
7297          NaN         0.170001  155.9630
...           ...              ...       ...
1868        11.60         0.017745  177.9686
6407        19.10         0.045308   42.5138
7751        17.25         0.047459   95.8068
211         13.80         0.058091  245.1802
1576        13.65         0.012752   55.5588

[2557 rows x 3 columns]

****************************************************************************************************
The Categorical Variables DataFrame is :
      Item_Fat_Content              Item_Type Outlet_Size Outlet_Location_Type  \
4532          Regular            Snack Foods       Small               Tier 2
186           Regular  Fruits and Vegetables       Small               Tier 1
7557          Low Fat            Soft Drinks      Medium               Tier 1
6308          Regular           Frozen Foods       Small               Tier 1
7297          Regular                  Dairy      Medium               Tier 3
...               ...                    ...         ...                  ...
1868          Low Fat                 Canned       Small               Tier 1
6407          Low Fat                  Dairy       Small               Tier 1
7751              reg            Snack Foods      Medium               Tier 3
211           Low Fat                  Dairy       Small               Tier 2
1576              reg            Snack Foods       Small               Tier 1

            Outlet_Type
4532  Supermarket Type1
186       Grocery Store
7557  Supermarket Type1
6308      Grocery Store
7297  Supermarket Type3
...                 ...
1868  Supermarket Type1
6407  Supermarket Type1
7751  Supermarket Type2
211   Supermarket Type1
1576  Supermarket Type1

[2557 rows x 5 columns]

In [ ]:
def impute_na(X_train,X_test,Stratergy):                                          # imputation--> meand filling  NaN values or null values by using Mean , median , mode
  imputer = SimpleImputer(strategy=Stratergy)                                     #SimpleImputer is the method to used find the meean,median,mode values from records which are not having NaN values and replace the null values with that value
  imputer = imputer.fit(X_train)                                                  # In this step imputer finds the Stratergy(mean,median,mode) value for the each column from the traning data set
  X_train= pd.DataFrame(imputer.transform(X_train),columns=X_train.columns)       # IN this  transform(data) method is used to perform or filling null values with strategy calculated using the fit() method.
  X_test= pd.DataFrame(imputer.transform(X_test),columns=X_test.columns)          # fit() can be only done on train data butt transform() can be done on both train and test data
  print("After Imputing X_train_num is:\n",X_train,'\n')
  print("**"*50)
  print("After Imputing X_test_num is:\n",X_test,'\n')
  return X_train,X_test,imputer

In [ ]:
X_train_num,X_test_num,num_imputer=impute_na(X_train_num,X_test_num,'median')

After Imputing X_train_num is:
       Item_Weight  Item_Visibility  Item_MRP
0           5.465         0.048487  131.2626
1          12.600         0.028383  109.4596
2           7.315         0.015302  154.4340
3          16.350         0.058034  124.8020
4          12.150         0.042552  123.5046
...           ...              ...       ...
5961       18.600         0.077169  160.6236
5962       12.600         0.068153   36.0190
5963        5.920         0.019184   50.3692
5964       15.600         0.000000  111.8544
5965       13.300         0.071744   59.7536

[5966 rows x 3 columns]

****************************************************************************************************
After Imputing X_test_num is:
       Item_Weight  Item_Visibility  Item_MRP
0           15.85         0.007145   41.0480
1           12.60         0.094154  165.7526
2           17.85         0.037886  190.4188
3           12.60         0.000000  230.0668
4           12.60         0.170001  155.9630
...           ...              ...       ...
2552        11.60         0.017745  177.9686
2553        19.10         0.045308   42.5138
2554        17.25         0.047459   95.8068
2555        13.80         0.058091  245.1802
2556        13.65         0.012752   55.5588

[2557 rows x 3 columns]

In [ ]:
import pickle
with open('num_impute_pickle.pkl', 'wb') as file:
  pickle.dump(num_imputer, file)

In [ ]:
X_train_cat,X_test_cat,cat_imputer=impute_na(X_train_cat,X_test_cat,'most_frequent')

After Imputing X_train_num is:
      Item_Fat_Content              Item_Type Outlet_Size Outlet_Location_Type  \
0             Regular           Baking Goods        High               Tier 3
1             Low Fat     Health and Hygiene       Small               Tier 1
2             Low Fat            Snack Foods       Small               Tier 1
3             Low Fat              Household      Medium               Tier 3
4             Regular                 Canned      Medium               Tier 2
...               ...                    ...         ...                  ...
5961          Low Fat            Snack Foods      Medium               Tier 3
5962          Low Fat            Soft Drinks       Small               Tier 1
5963          Regular            Soft Drinks        High               Tier 3
5964          Low Fat           Baking Goods      Medium               Tier 3
5965              reg  Fruits and Vegetables      Medium               Tier 3

            Outlet_Type
0     Supermarket Type1
1         Grocery Store
2     Supermarket Type1
3         Grocery Store
4     Supermarket Type1
...                 ...
5961  Supermarket Type2
5962      Grocery Store
5963  Supermarket Type1
5964  Supermarket Type2
5965  Supermarket Type2

[5966 rows x 5 columns]

****************************************************************************************************
After Imputing X_test_num is:
      Item_Fat_Content              Item_Type Outlet_Size Outlet_Location_Type  \
0             Regular            Snack Foods       Small               Tier 2
1             Regular  Fruits and Vegetables       Small               Tier 1
2             Low Fat            Soft Drinks      Medium               Tier 1
3             Regular           Frozen Foods       Small               Tier 1
4             Regular                  Dairy      Medium               Tier 3
...               ...                    ...         ...                  ...
2552          Low Fat                 Canned       Small               Tier 1
2553          Low Fat                  Dairy       Small               Tier 1
2554              reg            Snack Foods      Medium               Tier 3
2555          Low Fat                  Dairy       Small               Tier 2
2556              reg            Snack Foods       Small               Tier 1

            Outlet_Type
0     Supermarket Type1
1         Grocery Store
2     Supermarket Type1
3         Grocery Store
4     Supermarket Type3
...                 ...
2552  Supermarket Type1
2553  Supermarket Type1
2554  Supermarket Type2
2555  Supermarket Type1
2556  Supermarket Type1

[2557 rows x 5 columns]

In [ ]:
import pickle
with open('cat_impute_pickle.pkl', 'wb') as file:
  pickle.dump(cat_imputer, file)

In [ ]:
def std_col(X_train_num,X_test_num):                                                    # in this function we are doing Standardization for Scaling the data and convert columns into unit less on numerical columns
  scaler = StandardScaler()                                                             # StandardScaler() is the method using for Standardizing data i.e., calculating Z-score
  scaler=scaler.fit(X_train_num)                                                        # in fit() it calculates overall mean , SD values
  X_train_num=pd.DataFrame(scaler.transform(X_train_num),columns=X_train_num.columns)   # transform(data) method is used to perform scaling using mean and std dev calculated using the . fit() method.
  X_test_num=pd.DataFrame(scaler.transform(X_test_num),columns=X_test_num.columns)
  print("After Standardizing X_train_num is:\n",X_train_num,'\n')
  print("**"*50)
  print("After Standardizing X_test_num is:\n",X_test_num,'\n')
  return X_train_num,X_test_num,scaler

In [ ]:
X_train_num,X_test_num,scaler=std_col(X_train_num,X_test_num)

After Standardizing X_train_num is:
       Item_Weight  Item_Visibility  Item_MRP
0       -1.738429        -0.338430 -0.146944
1       -0.049738        -0.727827 -0.496910
2       -1.300576        -0.981195  0.224986
3        0.837801        -0.153502 -0.250645
4       -0.156243        -0.453374 -0.271470
...           ...              ...       ...
5961     1.370324         0.217114  0.324337
5962    -0.049738         0.042489 -1.675725
5963    -1.630741        -0.906000 -1.445386
5964     0.660293        -1.277578 -0.458471
5965     0.115936         0.112035 -1.294754

[5966 rows x 3 columns]

****************************************************************************************************
After Standardizing X_test_num is:
       Item_Weight  Item_Visibility  Item_MRP
0        0.719462        -1.139185 -1.595003
1       -0.049738         0.546100  0.406664
2        1.192816        -0.543765  0.802588
3       -0.049738        -1.277578  1.438988
4       -0.049738         2.015193  0.249528
...           ...              ...       ...
2552    -0.286415        -0.933873  0.602746
2553     1.488662        -0.399998 -1.571475
2554     1.050810        -0.358343 -0.716055
2555     0.234274        -0.152396  1.681577
2556     0.198773        -1.030589 -1.362086

[2557 rows x 3 columns]

In [ ]:
import pickle
with open('std_pickle.pkl', 'wb') as file:
  pickle.dump(scaler, file)

In [ ]:
from sklearn.preprocessing import OneHotEncoder                                   # In this function we are doing onehotencoding for dummification on categorical columns
def get_dummies1(df,cols):
  enc = OneHotEncoder(handle_unknown='ignore',drop='first')                       # handle_unknown='ignore' means if any new class comes after fitting the data i.e., in test dataset it will just ignore and perform dummifiaction
  enc = enc.fit(df[cols])                                                         # fitting onehotencode to DataFrame categorical columns
  enc_df=pd.DataFrame(enc.transform(df).toarray())                                # transforming onehotencoder i.e., perform dummification on categorical columns
  enc_df.columns = enc.get_feature_names_out(input_features=df.columns)           # get_feature_names_out --> is used to give the names to all columns as like in Previous DataFrame
  print('After Performin Dummification on Categorical Columns:\n',enc_df,'\n')
  return enc_df,enc

In [ ]:
X_train_cat,enc=get_dummies1(X_train_cat,X_train_cat.columns)

After Performin Dummification on Categorical Columns:
       Item_Fat_Content_Low Fat  Item_Fat_Content_Regular  \
0                          0.0                       1.0
1                          1.0                       0.0
2                          1.0                       0.0
3                          1.0                       0.0
4                          0.0                       1.0
...                        ...                       ...
5961                       1.0                       0.0
5962                       1.0                       0.0
5963                       0.0                       1.0
5964                       1.0                       0.0
5965                       0.0                       0.0

      Item_Fat_Content_low fat  Item_Fat_Content_reg  Item_Type_Breads  \
0                          0.0                   0.0               0.0
1                          0.0                   0.0               0.0
2                          0.0                   0.0               0.0
3                          0.0                   0.0               0.0
4                          0.0                   0.0               0.0
...                        ...                   ...               ...
5961                       0.0                   0.0               0.0
5962                       0.0                   0.0               0.0
5963                       0.0                   0.0               0.0
5964                       0.0                   0.0               0.0
5965                       0.0                   1.0               0.0

      Item_Type_Breakfast  Item_Type_Canned  Item_Type_Dairy  \
0                     0.0               0.0              0.0
1                     0.0               0.0              0.0
2                     0.0               0.0              0.0
3                     0.0               0.0              0.0
4                     0.0               1.0              0.0
...                   ...               ...              ...
5961                  0.0               0.0              0.0
5962                  0.0               0.0              0.0
5963                  0.0               0.0              0.0
5964                  0.0               0.0              0.0
5965                  0.0               0.0              0.0

      Item_Type_Frozen Foods  Item_Type_Fruits and Vegetables  ...  \
0                        0.0                              0.0  ...
1                        0.0                              0.0  ...
2                        0.0                              0.0  ...
3                        0.0                              0.0  ...
4                        0.0                              0.0  ...
...                      ...                              ...  ...
5961                     0.0                              0.0  ...
5962                     0.0                              0.0  ...
5963                     0.0                              0.0  ...
5964                     0.0                              0.0  ...
5965                     0.0                              1.0  ...

      Item_Type_Snack Foods  Item_Type_Soft Drinks  Item_Type_Starchy Foods  \
0                       0.0                    0.0                      0.0
1                       0.0                    0.0                      0.0
2                       1.0                    0.0                      0.0
3                       0.0                    0.0                      0.0
4                       0.0                    0.0                      0.0
...                     ...                    ...                      ...
5961                    1.0                    0.0                      0.0
5962                    0.0                    1.0                      0.0
5963                    0.0                    1.0                      0.0
5964                    0.0                    0.0                      0.0
5965                    0.0                    0.0                      0.0

      Outlet_Size_Medium  Outlet_Size_Small  Outlet_Location_Type_Tier 2  \
0                    0.0                0.0                          0.0
1                    0.0                1.0                          0.0
2                    0.0                1.0                          0.0
3                    1.0                0.0                          0.0
4                    1.0                0.0                          1.0
...                  ...                ...                          ...
5961                 1.0                0.0                          0.0
5962                 0.0                1.0                          0.0
5963                 0.0                0.0                          0.0
5964                 1.0                0.0                          0.0
5965                 1.0                0.0                          0.0

      Outlet_Location_Type_Tier 3  Outlet_Type_Supermarket Type1  \
0                             1.0                            1.0
1                             0.0                            0.0
2                             0.0                            1.0
3                             1.0                            0.0
4                             0.0                            1.0
...                           ...                            ...
5961                          1.0                            0.0
5962                          0.0                            0.0
5963                          1.0                            1.0
5964                          1.0                            0.0
5965                          1.0                            0.0

      Outlet_Type_Supermarket Type2  Outlet_Type_Supermarket Type3
0                               0.0                            0.0
1                               0.0                            0.0
2                               0.0                            0.0
3                               0.0                            0.0
4                               0.0                            0.0
...                             ...                            ...
5961                            1.0                            0.0
5962                            0.0                            0.0
5963                            0.0                            0.0
5964                            1.0                            0.0
5965                            1.0                            0.0

[5966 rows x 26 columns]

In [ ]:
import pickle
with open('encode_pickle.pkl', 'wb') as file:
  pickle.dump(enc, file)

In [ ]:
X_test_dum = pd.DataFrame(enc.transform(X_test_cat).toarray())
X_test_dum.columns = enc.get_feature_names_out(input_features=X_test_cat.columns)

In [ ]:
def combine_num_df_cat_df(num_df, cat_df):                           # in this method we are combining bboth numerical  and categorical dataframes into one
    df= pd.concat([num_df,cat_df],axis=1,join='inner')               # for combining we are using pd.concat()--> with hyperparameter join='inner' i.e., combine two dfs which have same records
    print("After combining the shape of df is :\n",df.shape,'\n')
    print("After combining numerical and categorical columns :\n",df,'\n')
    return df

In [ ]:
X_train=combine_num_df_cat_df(X_train_num,X_train_cat)

After combining the shape of df is :
 (5966, 29)

After combining numerical and categorical columns :
       Item_Weight  Item_Visibility  Item_MRP  Item_Fat_Content_Low Fat  \
0       -1.738429        -0.338430 -0.146944                       0.0
1       -0.049738        -0.727827 -0.496910                       1.0
2       -1.300576        -0.981195  0.224986                       1.0
3        0.837801        -0.153502 -0.250645                       1.0
4       -0.156243        -0.453374 -0.271470                       0.0
...           ...              ...       ...                       ...
5961     1.370324         0.217114  0.324337                       1.0
5962    -0.049738         0.042489 -1.675725                       1.0
5963    -1.630741        -0.906000 -1.445386                       0.0
5964     0.660293        -1.277578 -0.458471                       1.0
5965     0.115936         0.112035 -1.294754                       0.0

      Item_Fat_Content_Regular  Item_Fat_Content_low fat  \
0                          1.0                       0.0
1                          0.0                       0.0
2                          0.0                       0.0
3                          0.0                       0.0
4                          1.0                       0.0
...                        ...                       ...
5961                       0.0                       0.0
5962                       0.0                       0.0
5963                       1.0                       0.0
5964                       0.0                       0.0
5965                       0.0                       0.0

      Item_Fat_Content_reg  Item_Type_Breads  Item_Type_Breakfast  \
0                      0.0               0.0                  0.0
1                      0.0               0.0                  0.0
2                      0.0               0.0                  0.0
3                      0.0               0.0                  0.0
4                      0.0               0.0                  0.0
...                    ...               ...                  ...
5961                   0.0               0.0                  0.0
5962                   0.0               0.0                  0.0
5963                   0.0               0.0                  0.0
5964                   0.0               0.0                  0.0
5965                   1.0               0.0                  0.0

      Item_Type_Canned  ...  Item_Type_Snack Foods  Item_Type_Soft Drinks  \
0                  0.0  ...                    0.0                    0.0
1                  0.0  ...                    0.0                    0.0
2                  0.0  ...                    1.0                    0.0
3                  0.0  ...                    0.0                    0.0
4                  1.0  ...                    0.0                    0.0
...                ...  ...                    ...                    ...
5961               0.0  ...                    1.0                    0.0
5962               0.0  ...                    0.0                    1.0
5963               0.0  ...                    0.0                    1.0
5964               0.0  ...                    0.0                    0.0
5965               0.0  ...                    0.0                    0.0

      Item_Type_Starchy Foods  Outlet_Size_Medium  Outlet_Size_Small  \
0                         0.0                 0.0                0.0
1                         0.0                 0.0                1.0
2                         0.0                 0.0                1.0
3                         0.0                 1.0                0.0
4                         0.0                 1.0                0.0
...                       ...                 ...                ...
5961                      0.0                 1.0                0.0
5962                      0.0                 0.0                1.0
5963                      0.0                 0.0                0.0
5964                      0.0                 1.0                0.0
5965                      0.0                 1.0                0.0

      Outlet_Location_Type_Tier 2  Outlet_Location_Type_Tier 3  \
0                             0.0                          1.0
1                             0.0                          0.0
2                             0.0                          0.0
3                             0.0                          1.0
4                             1.0                          0.0
...                           ...                          ...
5961                          0.0                          1.0
5962                          0.0                          0.0
5963                          0.0                          1.0
5964                          0.0                          1.0
5965                          0.0                          1.0

      Outlet_Type_Supermarket Type1  Outlet_Type_Supermarket Type2  \
0                               1.0                            0.0
1                               0.0                            0.0
2                               1.0                            0.0
3                               0.0                            0.0
4                               1.0                            0.0
...                             ...                            ...
5961                            0.0                            1.0
5962                            0.0                            0.0
5963                            1.0                            0.0
5964                            0.0                            1.0
5965                            0.0                            1.0

      Outlet_Type_Supermarket Type3
0                               0.0
1                               0.0
2                               0.0
3                               0.0
4                               0.0
...                             ...
5961                            0.0
5962                            0.0
5963                            0.0
5964                            0.0
5965                            0.0

[5966 rows x 29 columns]

In [ ]:
X_test=combine_num_df_cat_df(X_test_num,X_test_dum)

After combining the shape of df is :
 (2557, 29)

After combining numerical and categorical columns :
       Item_Weight  Item_Visibility  Item_MRP  Item_Fat_Content_Low Fat  \
0        0.719462        -1.139185 -1.595003                       0.0
1       -0.049738         0.546100  0.406664                       0.0
2        1.192816        -0.543765  0.802588                       1.0
3       -0.049738        -1.277578  1.438988                       0.0
4       -0.049738         2.015193  0.249528                       0.0
...           ...              ...       ...                       ...
2552    -0.286415        -0.933873  0.602746                       1.0
2553     1.488662        -0.399998 -1.571475                       1.0
2554     1.050810        -0.358343 -0.716055                       0.0
2555     0.234274        -0.152396  1.681577                       1.0
2556     0.198773        -1.030589 -1.362086                       0.0

      Item_Fat_Content_Regular  Item_Fat_Content_low fat  \
0                          1.0                       0.0
1                          1.0                       0.0
2                          0.0                       0.0
3                          1.0                       0.0
4                          1.0                       0.0
...                        ...                       ...
2552                       0.0                       0.0
2553                       0.0                       0.0
2554                       0.0                       0.0
2555                       0.0                       0.0
2556                       0.0                       0.0

      Item_Fat_Content_reg  Item_Type_Breads  Item_Type_Breakfast  \
0                      0.0               0.0                  0.0
1                      0.0               0.0                  0.0
2                      0.0               0.0                  0.0
3                      0.0               0.0                  0.0
4                      0.0               0.0                  0.0
...                    ...               ...                  ...
2552                   0.0               0.0                  0.0
2553                   0.0               0.0                  0.0
2554                   1.0               0.0                  0.0
2555                   0.0               0.0                  0.0
2556                   1.0               0.0                  0.0

      Item_Type_Canned  ...  Item_Type_Snack Foods  Item_Type_Soft Drinks  \
0                  0.0  ...                    1.0                    0.0
1                  0.0  ...                    0.0                    0.0
2                  0.0  ...                    0.0                    1.0
3                  0.0  ...                    0.0                    0.0
4                  0.0  ...                    0.0                    0.0
...                ...  ...                    ...                    ...
2552               1.0  ...                    0.0                    0.0
2553               0.0  ...                    0.0                    0.0
2554               0.0  ...                    1.0                    0.0
2555               0.0  ...                    0.0                    0.0
2556               0.0  ...                    1.0                    0.0

      Item_Type_Starchy Foods  Outlet_Size_Medium  Outlet_Size_Small  \
0                         0.0                 0.0                1.0
1                         0.0                 0.0                1.0
2                         0.0                 1.0                0.0
3                         0.0                 0.0                1.0
4                         0.0                 1.0                0.0
...                       ...                 ...                ...
2552                      0.0                 0.0                1.0
2553                      0.0                 0.0                1.0
2554                      0.0                 1.0                0.0
2555                      0.0                 0.0                1.0
2556                      0.0                 0.0                1.0

      Outlet_Location_Type_Tier 2  Outlet_Location_Type_Tier 3  \
0                             1.0                          0.0
1                             0.0                          0.0
2                             0.0                          0.0
3                             0.0                          0.0
4                             0.0                          1.0
...                           ...                          ...
2552                          0.0                          0.0
2553                          0.0                          0.0
2554                          0.0                          1.0
2555                          1.0                          0.0
2556                          0.0                          0.0

      Outlet_Type_Supermarket Type1  Outlet_Type_Supermarket Type2  \
0                               1.0                            0.0
1                               0.0                            0.0
2                               1.0                            0.0
3                               0.0                            0.0
4                               0.0                            0.0
...                             ...                            ...
2552                            1.0                            0.0
2553                            1.0                            0.0
2554                            0.0                            1.0
2555                            1.0                            0.0
2556                            1.0                            0.0

      Outlet_Type_Supermarket Type3
0                               0.0
1                               0.0
2                               0.0
3                               0.0
4                               1.0
...                             ...
2552                            0.0
2553                            0.0
2554                            0.0
2555                            0.0
2556                            0.0

[2557 rows x 29 columns]

In [ ]:
from sklearn import metrics
Names = pd.DataFrame(columns=['Model','MAE_Train','MSE_Train','RMSE_Train','MAPE_Train','MAE_Test','MSE_Test','RMSE_Test','MAPE_Test'])
def Error_metrics(train_act,train_pred,test_act,test_pred,model_description,dataframe):
    MAE_Train = metrics.mean_absolute_error(train_act,train_pred)
    MSE_Train = metrics.mean_squared_error(train_act,train_pred)
    RMSE_Train = np.sqrt(metrics.mean_squared_error(train_act,train_pred))
    MAPE_Train = metrics.mean_absolute_percentage_error(train_act,train_pred)
    MAE_Test = metrics.mean_absolute_error(test_act,test_pred)
    MSE_Test = metrics.mean_squared_error(test_act,test_pred)
    RMSE_Test = np.sqrt(metrics.mean_squared_error(test_act,test_pred))
    MAPE_Test = metrics.mean_absolute_percentage_error(test_act,test_pred)

    dataframe=dataframe.append(pd.Series([model_description,MAE_Train,MSE_Train,RMSE_Train,MAPE_Train,MAE_Test,MSE_Test,RMSE_Test,MAPE_Test],index=Names.columns ), ignore_index=True)

    return(dataframe)

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=None)
pca=pca.fit(X_train)
X_train = pca.transform(X_train)
X_test = pca.transform(X_test)
explained_variance = pca.explained_variance_ratio_
print(explained_variance)

[0.18230848 0.1778324  0.1744861  0.10742584 0.07924813 0.05942648
 0.02509388 0.02347348 0.02146728 0.01900298 0.01716893 0.01617298
 0.01589273 0.01367296 0.01136937 0.0099816  0.00880717 0.00619053
 0.00601903 0.00466425 0.00451672 0.00398714 0.00305539 0.00241569
 0.0021728  0.00127546 0.00109399 0.00105976 0.00071847]

In [ ]:
import pickle
with open('pca_pickle.pkl', 'wb') as file:
  pickle.dump(pca, file)

In [ ]:
def Linear_reg(X_train,Y_train,X_test,Y_test):
  lin=LinearRegression()
  lin=lin.fit(X_train,Y_train)
  Y_train_pred=lin.predict(X_train)                           # predict is used to predict the values of target column for training and testing Datasets
  Y_test_pred=lin.predict(X_test)
  print("The First 10 train predictions are:\n",Y_train_pred[0:10],'\n')
  print("**"*50)
  print("The First 10 test predictions are:\n",Y_test_pred[0:10],'\n')
  return Y_train_pred,Y_test_pred,lin

In [ ]:
Y_train_pred,Y_test_pred,lin=Linear_reg(X_train,Y_train,X_test,Y_test)

The First 10 train predictions are:
 [2243.75607501 -117.93735376 2544.72500569  102.26036198 2117.04327077
 3308.12686284 4481.17920618 4408.60318923 -504.5684083   778.8141895 ]

****************************************************************************************************
The First 10 test predictions are:
 [ 876.97349787  840.81164362 3029.37966335 1776.90568083 3892.96156431
  618.62495711 2899.04387218 2819.55583618 1028.2030988  2388.33236075]

In [ ]:
import pickle
with open('lin_pickle.pkl', 'wb') as file:
  pickle.dump(lin, file)

In [ ]:
scores=Error_metrics(Y_train,Y_train_pred,Y_test,Y_test_pred,'linear Regression',Names)
scores

<ipython-input-31-13af5d2b1de9>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe=dataframe.append(pd.Series([model_description,MAE_Train,MSE_Train,RMSE_Train,MAPE_Train,MAE_Test,MSE_Test,RMSE_Test,MAPE_Test],index=Names.columns ), ignore_index=True)

,Model,MAE_Train,MSE_Train,RMSE_Train,MAPE_Train,MAE_Test,MSE_Test,RMSE_Test,MAPE_Test
0,linear Regression,831.790275,1.263472e+06,1124.042693,1.032504,847.68088,1.300565e+06,1140.423198,1.025071

In [ ]:
def RanFor(X_train,Y_train,X_test,Y_test):
  rfc=RandomForestRegressor(n_estimators=100)     #random_state controls randomness of the sample
  #max_features maximum number of features random forest considers splitting a node
  #n_estimators number of trees the algorithm builds before averaging the predictions
  #min_samples_split : random foresst works by taking some random samples of records and some features
  rfc_model=rfc.fit(X_train, Y_train)
  Y_train_pred = rfc_model.predict(X_train)
  Y_test_pred = rfc_model.predict(X_test)
  print("The First 10 train predictions are:\n",Y_train_pred[0:10],'\n')
  print("**"*50)
  print("The First 10 test predictions are:\n",Y_test_pred[0:10],'\n')
  return Y_train_pred,Y_test_pred,rfc_model

In [ ]:
Y_train_pred_rfc,Y_test_pred_rfc,rfc_model=RanFor(X_train,Y_train,X_test,Y_test)

The First 10 train predictions are:
 [3226.626592  517.865898 1822.09486   262.518282 1737.864502 2608.364712
 4828.78108  6515.971544  190.21906   637.410288]

****************************************************************************************************
The First 10 test predictions are:
 [ 727.546292  347.287938 2791.606188  509.763112 3837.744438  627.802794
 2148.33686  2257.148554  994.452196 2393.131546]

In [ ]:
scores=Error_metrics(Y_train,Y_train_pred_rfc,Y_test,Y_test_pred_rfc,'Random Forest',Names)

<ipython-input-31-13af5d2b1de9>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe=dataframe.append(pd.Series([model_description,MAE_Train,MSE_Train,RMSE_Train,MAPE_Train,MAE_Test,MSE_Test,RMSE_Test,MAPE_Test],index=Names.columns ), ignore_index=True)

In [ ]:
scores

,Model,MAE_Train,MSE_Train,RMSE_Train,MAPE_Train,MAE_Test,MSE_Test,RMSE_Test,MAPE_Test
0,Random Forest,301.35164,184313.373558,429.317334,0.231629,815.046121,1.332375e+06,1154.285583,0.613498

In [ ]:
import pickle
with open('rfc_pickle.pkl', 'wb') as file:
  pickle.dump(rfc_model, file)